<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1">
<script type="text/javascript">var spider = {}; spider.nbModules = 1; spider.nbLoadedModules = 0;</script>

<title>Gadget overview</title>

<script type="text/javascript">function onLoad() { spiderCheckBrowser(); }</script>
<script type="text/javascript" src="/spiderbasic/libraries/javascript/platform.js">
</script>
<script type="text/javascript" src="/spiderbasic/libraries/javascript/init.js">
</script>
<script type="text/javascript">dojoConfig.baseUrl = '/spiderbasic/libraries/javascript/'; </script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/dojo/nls/dojo_de.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/put.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/jquery.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/jquery-ui.custom.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/jquery.injectCSS.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/jquery.blockUI.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/filesaver.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/canvas-toBlob.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/mousetrap.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/paper-full.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/mousetrap-global-bind.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/spiderbasic/libraries/javascript/jquery.ui.touch-punch.min.js">
</script>
<script type="text/javascript" src="/spiderbasic/libraries/javascript/dojo/dojo.js">
</script>
<script type="text/javascript" src="/spiderbasic/libraries/javascript/main.js">
</script>
<script type="text/javascript" src="/spiderbasic/libraries/javascript/debug.js">
</script>
<link rel="stylesheet" href="/spiderbasic/libraries/javascript/dojo/themes/flat/flat.css">
<link rel="stylesheet" href="/spiderbasic/libraries/javascript/dojo/dgrid/css/dgrid.css">
<script type="text/javascript" src="/spiderbasic/libraries/javascript/xdate.min.js">
</script>
<link rel="stylesheet" title="Default" href="/spiderbasic/libraries/javascript/themes/flat/window.css" type="text/css">
<script type="text/javascript" src="spiderbasic.js">
</script>

<style>
</style>
</head>

<body oncontextmenu="return false;" class="flat" id="spiderbody" onload="onLoad()">



<div>
<div style="z-index: 80; position: absolute; left: 0px; top: 0px; width: 1270px; height: 530px;" class="spiderwindow-background sbNoSelect">
<div>
</div>
<div class="spiderwindow-content">
<div class="spiderwindow-menubar">
</div>
<div>
</div>
<div style="position: absolute; top: 0px; left: 0px; overflow: hidden; width: 100%; height: 100%;">
<div style="cursor: default; font-family: Arial; font-size: 30px; line-height: 30px; font-style: normal; font-weight: normal; position: absolute; left: 10px; top: 10px; width: 1250px; height: 821px;">
<div id="dgrid_1" class="dgrid dgrid-grid ui-widget" role="grid" style="position: absolute; left: 0px; top: 0px; width: 1248px; height: 819px;">
<div class="dgrid-header dgrid-header-row ui-widget-header" role="row" tabindex="0">
<table class="dgrid-row-table" role="presentation" id="dgrid_1-header">
<tr>
<th class="dgrid-cell dgrid-column-0 field-0" role="columnheader" tabindex="0">
<div class="dgrid-resize-header-container">Name<div class="dgrid-resize-handle resizeNode-0">
</div>
</div>
</th>
<th class="dgrid-cell dgrid-column-1 field-1" role="columnheader">
<div class="dgrid-resize-header-container">Größe<div class="dgrid-resize-handle resizeNode-1">
</div>
</div>
</th>
</tr>
</table>
</div>
<div class="dgrid-scroller" tabindex="-1" style="-moz-user-select: none; margin-top: 37px; margin-bottom: 0px;">
<div class="dgrid-content ui-widget-content" tabindex="-1">
<div class="dgrid-preload" style="height: 0px;">
</div>
<div role="row" class="dgrid-row dgrid-row-even ui-state-default" id="dgrid_1-row-0">
<table class="dgrid-row-table" role="presentation">
<tr>
<td class="dgrid-cell dgrid-column-0 field-0" role="gridcell" tabindex="0">
<div>
<div style="float: left; padding-right: 8px;">
<div class="dijit dijitReset dijitInline dijitCheckBox" role="presentation" widgetid="dijit_form_CheckBox_1">
<input role="checkbox" aria-checked="false" class="dijitReset dijitCheckBoxInput" data-dojo-attach-point="focusNode" data-dojo-attach-event="ondijitclick:_onClick" value="on" tabindex="0" id="dijit_form_CheckBox_1" style="-moz-user-select: none;" type="checkbox">
</div>
</div>
<div style="white-space: nowrap;">Name 0</div>
</div>
</td>
<td class="dgrid-cell dgrid-column-1 field-1" role="gridcell">
<div>
<div style="white-space: nowrap;">Code 0</div>
</div>
</td>
</tr>
</table>
</div>
<div class="dgrid-preload" style="display: none;">
</div>
</div>
</div>
<div class="dgrid-header dgrid-header-scroll dgrid-scrollbar-width ui-widget-header" style="height: 37px;"
/div>
<div class="dgrid-footer dgrid-footer-hidden">
</div>
</div>
</div>
</div>
<div>
</div>
</div>
</div>
</div>
</body>
